@using DAL;
@model List<DAL.ShoppingCartTicket>
@{
    ViewBag.Title = "Index";
}

<h2  class="text-center">My Cart</h2>
<div class="container">
    @{int totalPrice = 0; }
    @{ foreach (var sct in Model)
        {
            string bgClass = string.Empty;
            switch (sct.ticket.Event.category)
            {
                case Enum_Category.Comedy:
                    bgClass = "bg-warning";
                    break;
                case Enum_Category.Sports:
                    bgClass = "bg-success";
                    break;
                case Enum_Category.Musical:
                    bgClass = "bg-info";
                    break;
                case Enum_Category.Cultural:
                    bgClass = "bg-warning";
                    break;
                case Enum_Category.Educational:
                    bgClass = "bg-secondary";
                    break;
                case Enum_Category.Kids:
                    bgClass = "bg-warning";
                    break;
                case Enum_Category.Tech:
                    bgClass = "bg-dark";
                    break;
                default:
                    // code block
                    break;
            }

            <div class="alert @bgClass alert-success alert-dismissible">
                @*<button type="button" class="close" data-dismiss="alert">&times;</button>*@
                <div class="row">
                    <div class="col">@sct.ticket.Event.Name</div>
                    <div class="col text-right"><strong class="text-right">@sct.ticket.Event.price L.E.</strong></div>
                </div>

            </div>

            totalPrice += @sct.ticket.Event.price;
        }
    }
    <p class="display-4" style="font-size:35px;">Total = @totalPrice </p>
    @if (!(Model.Count() == 0))
    {
        @Html.ActionLink("Check Out", "Create", "Order", new { totalPrice = totalPrice }, new { @class = "btn btn-secondary " })

    }

</div>

